@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
// img {
//   max-width: 100%;
//   height: auto;
// }
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}


// *Circle
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #047145;
  clip-path: circle(600px at right 800px);
}


// *Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  max-width: 80px;
}
.header__nav {
  position: relative;
  display: flex;
}
.header__nav-item {
  list-style: none;
}
.header__nav-item a {
  display: inline-block;
  font-weight: 400;
  margin-left:  40px;
  padding: 5px 10px;
  font-size: 1.2em;
  color: #333;
  transition: all .3s;
  &:hover {
    color: #017143;
  }
}


// Content
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-box {
  position: relative;
  max-width: 600px;
}
.text-box__title {
  font-size: 4em;
  color: #333;
  line-height: 1.4em;
  font-weight: 500;
  span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 800;
  }
}
.text-box__text {
  color: #333;
}
.text-box__link {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 40px;
  color: #fff;
  border: 1px solid #017143;
  background-color: #017143;
  transition: all .3s;
  &:hover {
    border: 1px solid #017143;
    color: #017143;
    background-color: #fff;
  }
}
.img-box {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.img-box .starbucks {
  transform: rotate(-10deg);
  max-width: 340px;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}
.thumb__item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: .5s;
  &:last-child {
    transform: rotate(-10deg);
  }
  &:hover {
    transform: translateY(-15px);
  }
}
.thumb__item img {
  max-width: 60px;
}
.social {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.social__item a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(.6);
  filter: invert(1);
  transition: all .3s;
  &:hover {
    transform: scale(.7);
  }
}
